@CHARSET "UTF-8";

body
{
	font-family: sans-serif;
}


hr{
	clear: both;
}

.searchbox{
	background-color: LightGray;
	padding:20px;
	border-style:solid;
	border-width: 1px;
	border-color: DarkGray;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: small;
	font-weight: bold;
}

.table{
	font-size: small;
}

.editform{
	font-size: small;
}


.table td{
	font-size: x-small;
}

.table th{
	font-size: x-small;
}

.counter{
	font-weight: bold;
	font-size: small;
}






